# Disable script execution in uploaded assets
<IfModule mod_authz_core.c>
    <FilesMatch "(?i)\.(php|phtml|phar|php[0-9]*)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "(?i)\.(php|phtml|phar|php[0-9]*)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
